body {
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
  background-color: #1f8a4b;
}

img {
  width: 150px;
  border-radius: 50%;
  ;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

h1 {
text-align: center;
font-size: 60px;
line-height: 1.0;
}

div {
background-color: #cacaca;
opacity: 1.0;
padding: 20px 30px;
margin: 5px 200px;
border-radius: 1%;
}

.info {
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  background-color: #ebebeb;

}

p {
text-align: center;

}

h2 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

iframe {
  margin: 0 20px;
}

.hello {
  text-align: center;
  line-height: 0.5;
}

.blog {
  color: rgb(226, 226, 225);
  background-color: rgb(46, 128, 71);
  padding: 10px 20px;
  margin: 10px 10px;
  border-radius: 5px;
  text-decoration: none;
}

.lastfm {
  color: rgb(226, 226, 225);
  background-color: rgb(216, 32, 8);
  padding: 10px 20px;
  margin: 10px 10px;
  border-radius: 5px;
  text-decoration: none;
}

.personalwebsite {
  color: rgb(226, 226, 225);
  background-color: rgb(46, 128, 71);
  padding: 10px 20px;
  margin: 30px 10px;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 1px 2px ;
}
